/*

VS Dark theme based off the theme distributed with the Monaco editor by Twineee <twineee@tutamail.com>

*/
pre:has(.hljs),
.hljs {
  background: #202020;
  color: #cccccc;
}

.hljs-comment,
.hljs-doctag,
.hljs-quote,
.hljs-variable {
  color: #6a9954;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #579cd6;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #ce9178;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #d4d4d4;
}

.hljs-attr {
  color: #9ddcfe;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
